@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome</h2>
<div>
    <br />
    <p>Date: <input type="text" id="datepicker"></p>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            console.log($("#datepicker").val());
        })
        $(function () {
            $("#datepicker").datepicker({ minDate: -20, maxDate: "+1M +15D" });
        });
    </script>
}